.idea/
.qt/
.qtc_clangd/
.cache/
*.iws
gbfs_files/#original/
build/
site/
.idea_modules/
.DS_Store
*.gba
*.elf
*.sav
*.ss*
katawa.creator.user
compile_commands.json

# Ignore build info as it is generated on the build
include/build_info.h
